<style>
  .studio {
    background-color: grey;
    color: white;
    font-size: 14;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
  }
</style>

<% @studios.each do |studio| %>
  <div class='studio'>
    <p>Name: <%= studio.name %></p>
    <p>Country: <%= studio.country %></p>
    <p>Type: <%= studio.studio_type %></p>
  </div>
<% end %>
